
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <title>Stripe</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <button id="order-btn" class="btn btn-success m-5">ORDER</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        var stripe = Stripe('pk_test_51HQlYBKVWRemJMNbcXe7ODXZw4HlX74yIhiUXgSop87ZCLWbdZNuoIBUSEJtMBja0z3jZMIAyZFm1p2aPYv5Dwfi00drAYk7lq')
        var orderBtn = document.getElementById('order-btn');
        orderBtn.addEventListener('click', function() {
          stripe.redirectToCheckout({
            sessionId: '{{ id }}'
          });
        })
      </script>
    </div>
  </body>
</html>
